.chat {
  display: flex;
  width: 100%;
  margin: 10px 0;
}
.message_img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  flex: 1;
}
.profile_info {
  flex: 2;
}
.date {
  flex: 1;
}
.message_name {
  font-weight: bold;
}
.message {
  font-size: 14px;
  color: gray;
}
hr {
  margin: 0;
}
