.vl {
    border-left: 1px solid gray;
    height: 50px;
  }
  
  svg{
    position: relative;
    width: 36px;
    font-size: 50px;
    top: 3px;
    line-height: 12px;
    display: block !important;
    width: 38px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
    height:20px;
    color: grey;  
  }

  .menuText{
      font-size:small;
      margin-left: 8px;
      margin-right: 8px;
      margin-bottom: -8px;
      padding-bottom: 1px;
      margin-top:-8px;
      color: grey!important;
  }

   .center {
      margin-left: 100px;      
  }

  .center2{
      margin-right: 100px;
  } 
  

  #navbar{
      background-color:white;
      padding-top: 1px;
      padding-bottom:1px
  }

  span{
      color: grey;
  }
button{
    border:none;
    background-color:white;
    text-align: center;
    margin-top: ;
    margin-left: 10px;
}
/* #b1{
    margin-left:25px;
}
#b3{
    margin-left:25px;
} */
#NavprofilePhoto{
    width:35px;
}
#b4{
    margin-left:-10px;
}
#b5{
    margin-left:-12px;
    
}
#b6{
    margin-top: 2px;
}