.people {
  padding: 0 100px;
  margin-top: 50px;
}
.card {
  border-radius: 12px !important;
  position: relative;
}

.card-body {
  padding-bottom: 0 !important;
}

.profilePic {
  position: absolute;
  border: 4px solid white;
  border-radius: 50%;
  width: 150px;
  top: 20%;
}

.cardImg {
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  height: 180px;
}

.btn1 {
  width: 90px;
  padding: 0.2em 0;
  background-color: #0c5cac !important;
  border-color: #0c5cac !important ;
}

.btn1:hover {
  background-color: #004182 !important;
  border-color: #004182 !important ;
}

.btn2 {
  padding: 0.2em 0.8em;
}

.btn3 {
  width: 80px;
  padding: 0.2em 0;
}

.card-footer {
  background-color: transparent !important;
  border: 1px solid grey;
  border-radius: 12px !important;
  height: 80px;
}

.camerabtn {
  border: 1px transparent grey !important;
  border-radius: 50%;
  background-color: #ebebeb;
  height: 30px;
  width: 30px;
  padding: 6px;
}
