.card{

    border-radius: 12px!important;
    position: relative;
}

.card-body{
    padding-bottom: 0!important;
}

.customRange{
    border-bottom: 10px solid green;
    margin-right: 2px;
    position: relative;
}

.customRangeLast{
    border-bottom: 10px double green;
    position: relative;    
}

.tick{  
    color:green;
    right:-90%;
    top: 70%;
    border: 1px solid green!important;
    border-radius: 50%;
    background-color: white;
    height: 30px;
    width: 30px;
    padding: 6px;
    z-index: 1;
}

.star{  
    color:grey;
    right:-90%;
    top:70%;
    border: 1px solid green!important;
    border-radius: 50%;
    background-color: white;
    height: 30px;
    width: 30px;
    padding: 6px;
}

.rangeRow{
   
}