.card{

    border-radius: 12px!important;
    position: relative;

}

.dashboard-card{
    background-color: #DCE6F1;
    padding-left:25px;
    padding-right:25px ;
    padding-top: 35px;
}

.card-body{
    padding-bottom: 0!important;
}

.dash1{
    padding:0;
}

.dash1 p{
    margin-bottom: 0;
}

.viewspan{
    font-size: xx-large;
    color:#0c5cac;
}

.dash2 span{
    color:black;
}
